### Scripting Oriented Programming

In [3]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
res = a+b
print("A is:",a)
print("B is:",b)
print("Sum of a,b is:",res)

Enter first number:20
Enter second number:30
A is: 20
B is: 30
Sum of a,b is: 50

### Rule1:- Every statement should start at column position 0

In [1]:
 print("Welcome to CFAMILY IT")

Welcome to CFAMILY IT

In [2]:
print("Welcome")

Welcome

In [3]:
  print("Welcome2")

Welcome2

In [4]:
print("Welcome")
 print("Welcome")

IndentationError: unexpected indent (Temp/ipykernel_21212/2534350037.py, line 2)

### Rule3:- Inside Block All statements should follow same indentation

In [5]:
if 10<20:
    print("Welcome CFAMILY IT")
    print("Welcome")
    print("Welcome2")

Welcome CFAMILY IT
Welcome
Welcome2

In [6]:
if 10<20:
    print("Welcome CFAMILY IT")
      print("Welcome")
        print("Welcome2")

IndentationError: unexpected indent (Temp/ipykernel_21212/4213512310.py, line 3)

### Rule4:- End of Block of Statements

In [7]:
if 10<20:
    print("Welcome CFAMILY IT")
    print("Welcome")
    print("Welcome2")

Welcome CFAMILY IT
Welcome
Welcome2

In [1]:
if 10<20:
    print("Welcome CFAMILY IT")
    print("Welcome")
    print("Welcome2")
print("After Block")

Welcome CFAMILY IT
Welcome
Welcome2
After Block

## Simple Datatypes

In [2]:
a = 10
b = 10.5
c = True
d = 'cfamily'
f = "sreenivas"
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(f)
print(type(f))

10
<class 'int'>
10.5
<class 'float'>
True
<class 'bool'>
cfamily
<class 'str'>
sreenivas
<class 'str'>

### Python is a Dynamically typed language. So based on right side value python will assign datatype.

In [3]:
a = 10
print(a)
print(type(a))
####
####
####
a = 10.5
print(a)
print(type(a))
####
####
####
a = True
print(a)
print(type(a))
####
####
####
a='cfamilyit'
print(a)
print(type(a))

10
<class 'int'>
10.5
<class 'float'>
True
<class 'bool'>
cfamilyit
<class 'str'>

## Scripting Oriented Programming – Collection Datatypes or Complex Datatypes

### tuple

In [4]:
t1 = (10,20,30,40,50)
print(t1)
print(type(t1))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [5]:
t1 = (101,'sreenivas',10000.50,'m',11)
print(t1)
print(type(t1))

(101, 'sreenivas', 10000.5, 'm', 11)
<class 'tuple'>

In [6]:
t1.add(20000)

AttributeError: 'tuple' object has no attribute 'add'

In [7]:
t1.append('cfamilyit')

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
t1 = (10,20,30,40,50)
print(t1[0])
print(t1[1])
print(t1[2])
print(t1[3])
print(t1[4])

10
20
30
40
50

In [7]:
t1 = (10,20,30,40,50)
print(t1[-1])
print(t1[-2])
print(t1[-3])
print(t1[-4])
print(t1[-5])

50
40
30
20
10

### list

In [1]:
li = [10,20,30,40,50]
print(li)

[10, 20, 30, 40, 50]

In [3]:
li = [10,20,30,40,50]
print(li[0])
print(li[1])
print(li[2])
print(li[3])
print(li[4])

10
20
30
40
50

In [8]:
li = [10,20,30,40,50]
print(li[-1])
print(li[-2])
print(li[-3])
print(li[-4])
print(li[-5])

50
40
30
20
10

In [15]:
### Slicing Element
li = [10,20,30,40,50]
print(li[0]) # first element
print(li[-5])
print(li[4]) #last element
print(li[-1])
print(li)
print(li[0:])
print(li[-5:])
print(li[1:4])
print(li[-4:-1])

10
10
50
50
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[20, 30, 40]
[20, 30, 40]

In [18]:
li = [10,20,30,40,50]
print(li)
li.append(60)
print(li)
li.remove(10)
print(li)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[20, 30, 40, 50, 60]

### Set

In [19]:
s1 = {10,20,30,40,50}
print(s1)

{50, 20, 40, 10, 30}

In [20]:
li = [10,20,30,40,50,10,20,30]
print(li)
s1 = {10,20,30,40,50,10,20,30}
print(s1)

[10, 20, 30, 40, 50, 10, 20, 30]
{50, 20, 40, 10, 30}

In [21]:
s1 = {10,20,30,40,50,10,20,30}
print(s1) # all values
print(s1[0]) # first element

{50, 20, 40, 10, 30}

TypeError: 'set' object is not subscriptable

### Frozen Set

In [24]:
s1 = {10,20,30,40,50}
fs = frozenset(s1)
print(fs) # all values
s1.add(100) # is mutable
print(s1)
fs.add(200) # is immutable
print(fs)

frozenset({50, 20, 40, 10, 30})
{50, 20, 100, 40, 10, 30}

AttributeError: 'frozenset' object has no attribute 'add'

### dictionary

In [25]:
d1 ={
    'empno':101,
    'ename':'sreenivas',
    'sal':10000.50,
    'gender':'male',
    'dno':11
}

print(d1)
print(type(d1))

{'empno': 101, 'ename': 'sreenivas', 'sal': 10000.5, 'gender': 'male', 'dno': 11}
<class 'dict'>

In [27]:
print(d1.keys())

dict_keys(['empno', 'ename', 'sal', 'gender', 'dno'])

In [28]:
print(d1.values())

dict_values([101, 'sreenivas', 10000.5, 'male', 11])

In [29]:
print(d1.items())

dict_items([('empno', 101), ('ename', 'sreenivas'), ('sal', 10000.5), ('gender', 'male'), ('dno', 11)])

In [30]:
print(d1.get('empno'))
print(d1.get('ename'))
print(d1.get('sal'))
print(d1.get('gender'))
print(d1.get('dno'))

101
sreenivas
10000.5
male
11

### Scripting Oriented Programming – Conditional statements

In [31]:
### if
a = int(input("Enter a first number:"))
b = int(input("Enter a second number:"))
if a>b:
    print("A is Big")
    
if b>a:
    print("B is Big")

Enter a first number:10
Enter a second number:5
A is Big

In [32]:
### if
a = int(input("Enter a first number:"))
b = int(input("Enter a second number:"))
if a>b:
    print("A is Big")    
else:
    print("B is Big")

Enter a first number:10
Enter a second number:20
B is Big

In [34]:
### if
a = int(input("Enter a first number:"))
b = int(input("Enter a second number:"))
c = int(input("Enter a Thrid number:"))
if a>b:
    print("A is Big")    
else:
    print("B is Big")

Enter a first number:10
Enter a second number:20
Enter a Thrid number:30
B is Big

In [35]:
### if
a = int(input("Enter a first number:"))
b = int(input("Enter a second number:"))
c = int(input("Enter a Thrid number:"))
if a>b:
    if a>c:
        print('A is Big')
    else:
        print("C is Big")
elif b>c:
    print("B is Big")
else:
    print('C is Big')

Enter a first number:10
Enter a second number:15
Enter a Thrid number:20
C is Big

### Scripting Oriented Programming – Iterative statements

In [36]:
li = [10,5,20,7,15,35,25]
for v in li:
    print(v)

10
5
20
7
15
35
25

In [37]:
li = [10,5,20,7,15,35,25]
i = 0
while i<len(li):
    print(li[i])
    i=i+1

10
5
20
7
15
35
25

In [39]:
### Find Biggest Number in List of Values
li = [10,5,20,7,15,35,25]
big = 0
for v in li:
    if v>big:
        big=v

print("List of values:",li)
print("Big value in List:",big)

List of values: [10, 5, 20, 7, 15, 35, 25]
Big value in List: 35

## Procedure Oriented Programming

In [1]:
def sum(a,b):
    res = a+b
    print("A is:",a)
    print("B is:",b)
    print("Sum of A,b is:",res)

In [2]:
#Taking Input from User
a = int(input("Enter First Number:"))
b = int(input("Enter Second Number:"))

#Function call
sum(a,b)

Enter First Number:10
Enter Second Number:20
A is: 10
B is: 20
Sum of A,b is: 30

In [4]:
#Taking Input from User
empno = int(input("Enter Empno:"))
ename = input("Enter EName:")
sal = float(input("Enter Salary:"))

#Function Definition without parameters
def dispalyEmployee():
    print("Employee Number is:",empno)
    print("Employee Name is:",ename)
    print("Employee Salary is:",sal)

#Function call
dispalyEmployee()

Enter Empno:101
Enter EName:sreenivas
Enter Salary:20000.50
Employee Number is: 101
Employee Name is: sreenivas
Employee Salary is: 20000.5

## Python Lambda

In [1]:
#lambda function Definition
x = lambda a : a + 10

#calling or using lambda function
print(x(5))

15

In [2]:
#lambda function Definition
x = lambda a : a * a

#calling or using lambda function
print(x(5))

25

In [3]:
#lambda function Definition
x = lambda a,b : a * b

#calling or using lambda function
print(x(5,6))

30

In [5]:
#lambda function Definition
x = lambda a,b,c : a + b + c

#calling or using lambda function
print(x(5,6,7))

18

In [6]:
def fun1(n):
    return lambda a : a * n

x = fun1(2)
print(x(11))

22

In [9]:
#filter is a predefined function.
#it takes two arguments 
#1st argument is function -- here we pass lambda function
#2nd argument is list
list_1 = [1,2,3,4,5,6,7,8,9]
li = filter(lambda x: x%2==0, list_1)    
for v in li:
    print(v)

2
4
6
8

In [10]:
#filter is a predefined function.
#it takes two arguments 
#1st argument is function -- here we pass lambda function
#2nd argument is list
list_1 = [1,2,3,4,5,6,7,8,9]
li = filter(lambda x: x%2!=0, list_1)    
for v in li:
    print(v)

1
3
5
7
9

## Object Oriented Programming

In [11]:
#Class implementation
class Test:
    def __init__(self):
        print("Inside Constructor")
    
    def fun1(self):
        print("Inside a function")

t1 = Test()
t1.fun1()

Inside Constructor
Inside a function

In [14]:
class Employee:
    def __init__(self,empno,ename,sal,gender,dno):
        print("Inside Constructor:")
        self.empno=empno
        self.ename=ename
        self.sal=sal
        self.gender=gender
        self.dno=dno
        
    def displayEmployee(self):
        print("Inside Function:")
        print("Employee Number is:",self.empno)
        print("Employee Name is:",self.ename)
        print("Employee Salary is:",self.sal)
        print("Employee Gender is:",self.gender)
        print("Employee Dept Number is:",self.dno)
        
empno1 = int(input("Enter Employee1 Number:"))
ename1 = input("Enter Employee1 Name:")
sal1 = float(input("Enter Employee1 Salary:"))
gender1 = input("Enter Employee1 Gender:")
dno1 = int(input("Enter Employee1 Dept Number:"))
e1 = Employee(empno1,ename1,sal1,gender1,dno1)
e1.displayEmployee()

print("*"*30)

empno2 = int(input("Enter Employee1 Number:"))
ename2 = input("Enter Employee1 Name:")
sal2 = float(input("Enter Employee1 Salary:"))
gender2 = input("Enter Employee1 Gender:")
dno2 = int(input("Enter Employee1 Dept Number:"))
e2 = Employee(empno2,ename2,sal2,gender2,dno2)
e2.displayEmployee()

Enter Employee1 Number:101
Enter Employee1 Name:sreenivas
Enter Employee1 Salary:20000.50
Enter Employee1 Gender:male
Enter Employee1 Dept Number:11
Inside Constructor:
Inside Function:
Employee Number is: 101
Employee Name is: sreenivas
Employee Salary is: 20000.5
Employee Gender is: male
Employee Dept Number is: 11
******************************
Enter Employee1 Number:102
Enter Employee1 Name:Swathi
Enter Employee1 Salary:15000.25
Enter Employee1 Gender:female
Enter Employee1 Dept Number:11
Inside Constructor:
Inside Function:
Employee Number is: 102
Employee Name is: Swathi
Employee Salary is: 15000.25
Employee Gender is: female
Employee Dept Number is: 11